# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Jojo.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vshab\RiderProjects\2cem\Jojo\.idea\.idea.Jojo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
